<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading"><center>Questions</center></div>
        <div class="list-group">
          <a href="/questions/{{question.id}}">
            {{ question.id.content }}
          </a>
        </div>
    </div>
  </div>
</div>